

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
.number-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number-container .left,
.number-container .right {
  text-align: center;
  flex: 1;
}

.number-container .big-number {
  font-size: 4rem;
  margin-bottom: 10px;
  margin-top: 5px; 
}

.number-container .small-text {
  font-size: 1rem;
}

.center-content{
    text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 200px;
  text-align: center;
  padding: 0 20px;
}

.text-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  align-items: center;
  margin: 200px 70px; 
  text-align: center;
  padding: 0 20px;
}

.button-small{
  background-color: #f03794;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5 auto;
  margin-left: 40px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.button-pink {
  background-color: white;
  border: 2px solid #f03794;
  color: pink;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; /* Smaller font size */
  margin: 10px auto;
  margin-left: 50px;
  margin-top: 30px;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  padding: 7.5px;
  cursor: pointer;
}
.button-big {
  background-color: #f03794;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 10px auto;
  margin-left: 50px;
  margin-top: 30px;
  border-radius: 20px;
  width: 200px;
  height: 45px;
  padding: 15px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(30, 215, 228);
}
.line-breaks::before {
  content: "\A\A\A\A\A"; 
  white-space: pre;
}
.line-breaks-middle::before {
  content: "\A\A\A\A\A\A\A\A\A\A"; 
  white-space: pre;
}
.line-breaks-bottom::before {
  content: "\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A"; 
  white-space: pre;
}

.limit-p-width {
  max-width: 400px;
  margin: 0 auto; 
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.grid-container > *:first-child {
  justify-self: start; 
  margin-left: 20px;  
}

.grid-container > *:last-child {
  justify-self: end;
  margin-right: 20px; 
}

.bottom {
  background-color: #070044;
}

.blue-background {
  background-color: #e1f3f3;
}

.text-color-white p {
  color: white;
}

.filter-to-white{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(107deg) brightness(105%) contrast(102%);
}

.hoverbutton:hover {
  filter: invert(87%) sepia(23%) saturate(443%) hue-rotate(161deg) brightness(91%) contrast(97%);  
}